<main class="newPlanContainer">
  <section class="newPlanBox">
    <form [formGroup]="newPlan">
      <div class="inputBox">
        <label for="Year">LIC Youth Year :</label>
        <select formControlName="Year">
          <option value="" hidden>Select Year</option>
          <option value="2022/2023">2022/2023</option>
          <option value="2023/2024">2023/2024</option>
          <option value="2024/2025">2024/2025</option>
          <option value="2025/2026">2025/2026</option>
          <option value="2026/2027">2026/2027</option>
        </select>
      </div>
      <div class="inputBox">
        <label for="Theme">Theme :</label>
        <input type="text" formControlName="Theme" />
      </div>
      <div class="inputBox">
        <label for="Title">Title :</label>
        <input type="text" formControlName="Title" />
      </div>
      <div class="inputBox">
        <label for="Verses">Verse :</label>
        <div formArrayName="Verses">
          <div
            *ngFor="let verse of verseForms.controls; let i = index"
            [formGroupName]="i"
          >
            <span class=" verse">
              <input type="text" formControlName="Verses" />
              <button class="addVerse" (click)="addVerse()">
                <img src="assets/svgs/plus.svg" alt="" srcset="" />
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="inputBox">
        <label for="Synopsis">Period :</label>
        <div class="period">
          <input type="date" formControlName="ProgramStart" />
        <hr>
          <input type="date" formControlName="ProgramEnd" />
        </div>
      </div>
      <div class="btnBox">
        <button class="submit" (click)="Submit()" [disabled]="!newPlan.valid">Next
        <img src="assets/svgs/arrow-right.svg" alt=""></button>
        <button class="cancel" (click)="Cancel()">
        Cancel
        </button>
      </div>
    </form>
  </section>
</main>
<!-- 
<section class="button__container">
  <div class="button__group" >
  <ng-container *ngFor="let item of ButtonCatgory">
    <button class="button" draggable="true" (dragstart)="startDrag($event)">
      {{ item }}
      <span (click)="removeCategory(item)"></span>
    </button>
  </ng-container>
 
</div>
<form [formGroup]="ActivityFormBuilder" (submit)="Submit()">
  <input type="text" formControlName="Activity" />
  <button class="submit"><img src="assets/svgs/plus.svg" alt="" srcset=""></button>
</form>
</section>

<form [formGroup]="TableFormBuilder">
<table>
  <tr>
    <th>Date</th>
    <th>Activity</th>
    <th>Leaders</th>
    <th>Synopsis</th>
  <tr
    *ngFor="let item of activities; let i = index"
    
  >
    <td><input type="text" readonly formControlName="Date"/></td>
    <td ><input (dragover)="allowDrop($event)"
      (drop)="drop($event, val)" #val type="text" [value]="item.activity"
      formControlName="Activity"
      /></td>
    <td>
      <ul>
        <li *ngFor="let leader of item.leaders">{{ leader }}</li>
      </ul>
    </td>
    <td>
      <textarea
        [value]="item.synopsis"
        (input)="adjustTextareaHeight($event)"
      ></textarea>
    </td>
  </tr>
</table>
</form> -->
