.newPlanContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  border: 1px solid var(--newplanborder);
  box-shadow: var(--newplanBoxShadow);
  .newPlanBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      color: var(--text-color);
      .inputBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        label {
          font-size: 24px;
          font-family: "M Bold";
        }
      }
      input[type="text"],
      select,
      input[type="date"] {
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px 20px;
        outline: none;
      }
      input[type="text"]:focus,
      select:focus,
      input[type="date"]:focus {
        border: 1px solid #7638ff;
      }
      input[type="date"] {
        width: 100px;
        padding: 10px;
      }
      .verse {
        display: flex;
        align-items: center;
        gap: 10px;
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 35px;
          height: 35px;
          border: none;
          border-radius: 5px;

          background-color: var(--button-color);
          color: #fff;
          cursor: pointer;
          &:hover {
            background-color: #7638ff9b;
          }
        }
      }
      .period {
        display: flex;
        align-items: center;
        gap: 10px;
        hr {
          height: 3px;
          border: none;
          border-radius: 3px;
          width: 20px;
          background-color: gray;
        }
      }
      .btnBox {
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;
        .submit {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px 15px;
          border: none;
          border-radius: 5px;
          background-color: var(--button-color);
          color: #fff;
          cursor: pointer;
          &:hover {
            background-color: #7638ff9b;
          }
        }
        .cancel {
          padding: 8px 15px;
          border: none;
          border-radius: 5px;
          background-color: var(--background);
          border: 2px solid var(--button-color);
          color: var(--text-color);
          cursor: pointer;
        }
      }
    }
  }
}
@media only screen and (max-width:468px){
  .newPlanContainer{
    margin-top: 40px;
    .newPlanBox{
      margin: 10px;
      form{
        .inputBox{
          label{
            font-size: 16px;
          }
        }
        input[type="text"],
        select,
        input[type="date"] {
          width: 150px;
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 8px ;
          outline: none;
        }
        input[type="date"] {
          width: 100px;
          padding: 8px;
        }
        .verse {
          display: flex;
          align-items: center;
          gap: 10px;
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            border: none;
            border-radius: 5px;

            background-color: var(--button-color);
            color: #fff;
            cursor: pointer;
            &:hover {
              background-color: #7638ff9b;
            }
          }
        }
        .period {
          display: flex;
          align-items: center;
          gap: 10px;
          hr {
            height: 3px;
            border: none;
            border-radius: 3px;
            width: 20px;
            background-color: gray;
          }
        }
        .btnBox {
          align-self: flex-end;
          display: flex;
          align-items: center;
          gap: 20px;
          .submit {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 15px;
            border: none;
            border-radius: 5px;
            background-color: var(--button-color);
            color: #fff;
            cursor: pointer;
            &:hover {
              background-color: #7638ff9b;
            }
          }
          .cancel {
            padding: 8px 15px;
            border: none;
            border-radius: 5px;
            background-color: var(--background);
            border: 2px solid var(--button-color);
            color: var(--text-color);
            cursor: pointer;
          }
        }
      }
    }
  }
}
