.section {
  background-color: var(--background);
  padding: 30px;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  max-width: 450px;
  &__topBar {
    display: flex;
    justify-content: center;
    
    align-items: center;
    
    &__welcome {
      font-family: "M Bold";
      font-size: 32px;
    }
  }
  &__bottomBar {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    img{
        max-width: 150px;
        max-height: 150px;
    }
    p {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 460px) {
  .section {
    padding: 20px;
    border-radius: 15px;
    max-width: 350px;
    &__topBar {
      gap: 25px;
      &__welcome {
        font-size: 16px;
      }
    }
    &__bottomBar {
      gap: 20px;
      p {
        font-size: 12px;
      }
    }
  }
}
