<section class="section">
  <nav class="section__topBar">
    <img src="assets/images/LIC.png" alt="logo" />
    <h1 class="section__topBar__welcome">Welcome Back</h1>
  </nav>
  <div class="section__bottomBar">
    <p>
      Enter the one-time password (OTP) sent to you to complete the verification
      process. Do not share this code with anyone."
    </p>
    <ngx-otp-input
      [config]="otpInputConfig"
      (fill)="trial($event)"
      autocomplete="off"
      [status]="status"
    ></ngx-otp-input>
    <p>This code is valid for the next <span>{{Time | date : 'm : ss' }}

    </span> minutes.</p>
    <div class="section__bottomBar__btnContainer">
       
        <button class="section__bottomBar__btnContainer__btn"
            *ngIf="!submitted; else loader"
            (click)="onSubmit()"
            [disabled]="disabled"
        >
            Send <img src="assets/svgs/send.svg" alt="" />
        </button>
        <button class="section__bottomBar__btnContainer__resendbtn"
        *ngIf="!resend; else loader"
        (click)="resendOTP()"
    >
        Resend OTP
    </button>
    </div>
    
  </div>
</section>
<ng-template #loader>
  <mat-spinner strokeWidth="3" [diameter]="30"></mat-spinner>
</ng-template>
