.section{
    background-color: var(--background);
    padding: 30px;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    gap:45px ;
    &__topBar{
        display: flex;
        gap: 20px;
        align-items: center;
        &__welcome{
            font-family: "M Bold";
            font-size: 32px;
        }
    }
    &__bottomBar{
        display: flex;
        flex-direction: column;
        gap: 45px;
        span{
            font-size: 14px;
            color: var(--text-color);
            a{
                color: var(--link-color);
            }
        }
    }
    &__userForm{
        display: flex;
        flex-direction: column;
        gap: 2px;
        label{
            color:  var(--label-color);
            font-family: "M Medium";
            font-size: 14px;
            line-height: 20px;
        }
        &__container{
            display: flex;
            gap: 20px;
            button{
                display: flex;
                gap: 5px;
                align-items: center;

                background-color: var(--button-color);
                border: none;
                border-radius: 8px;
                color: #ffffff;
                font-family: "M Medium";
                font-size: 14px;
                padding: 10px 16px;
                cursor: pointer;
                &:hover{
                    background-color: var(--button-color);
                    opacity: 0.8;
                }
            }
        }
        &__select{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            border: 1px solid var(--label-color);
            border-radius: 8px;
            padding: 4px;
            select{
                background-color: var(--background);
                border: none;
                font-family: "M Medium";
                font-size: 14px;
                color: var(--text-color);
                cursor: pointer;
                &:focus{
                    outline: none;
                }
            }
        }
    }
}


@media only screen and (max-width: 460px){
    .section{
        padding: 10px;
        border-radius: 15px;
        max-width:370px ;
        &__topBar{
            gap: 25px;
            &__welcome{
                font-size: 16px;
            }
        }
        &__bottomBar{
            gap: 20px;
            h2{
                font-size: 18px;
            }
        }
        &__userForm{
            gap: 25px;
            &__container{
                gap: 25px;
            }
            &__select{
                gap: 5px;
                select{
                    font-size: 12px;
                }
            }
        }
    }
    
}