<section class="section">
  <nav class="section__topBar">
    <img src="assets/images/LIC.png" alt="logo" />
    <h1 class="section__topBar__welcome">Welcome Back</h1>
  </nav>
  <div class="section__bottomBar">
    <h2>Select account to login to the Youth Exec Portal</h2>
    <div class="section__userForm">
      <label for="userName">User Name</label>
      <div class="section__userForm__container">
        <div class="section__userForm__select">
            <img src="assets/svgs/user.svg" alt="">
        <select name="userName" id="userName">
          <option value="Select Your User" hidden>Select User Account</option>
          <option value="Lawrence">Lawrence Yirenkyi-Boafo Jnr</option>
          <option value="user3">Esther Aryee</option>
          <option value="user4">Adom Adu-Amoani</option>
          <option value="user5">Akosua Addae Agyeman</option>
        </select>
    </div>
        <button (click)="onSubmit()">Send <img src="assets/svgs/send.svg" alt="" /></button>
      </div>
    </div>
        <span>New Here? Request for access to view the exec portal.
      <a>Request Here</a></span>
  </div>
</section>
