/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "M Regular";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "M Bold";
  src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "M SemiBold";
  src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "M Light";
  src: url("./assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "M Medium";
  src: url("./assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
ngx-otp-input {
    .ngx-otp-input-box.otp-input{
        background-color: var(--background-color);
        color: var(--text-color);
    }
    .ngx-otp-input.otp-input-field{
        background-color: var(--background-color);
        color: var(--text-color);
        border: 2px solid #B7A5FF;
    }
    .ngx-otp-input.otp-input-field-error{
        border: 3px solid rgb(184, 24, 24);
        animation: shake 0.5s ease-in-out;
    }
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(-2px);
    }
    20% {
      transform: translateX(2px);
    }
    30% {
      transform: translateX(-2px);
    }
    40% {
      transform: translateX(2px);
    }
    50% {
      transform: translateX(-2px);
    }
    60% {
      transform: translateX(2px);
    }
    70% {
      transform: translateX(-2px);
    }
    80% {
      transform: translateX(2px);
    }
    90% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0);
    }
  }
body {
  box-sizing: border-box;
  margin: 0;
  overflow-y: hidden;
  p,h1,h2,h3,h4,h5,h6{
    color: var(--text-color);
  }
  * {
    margin: 0;
    padding: 0;
    font-family: "M Regular";
  }
}
.dark-theme {
  --background: hsl(235, 21%, 11%);
  --slidebackground:hsl(0, 0%, 98%);
  --button-color: hsl(259, 100%, 61%);
  --text-color: hsl(0, 0%, 100%);
  --link-color: hsl(228, 60%, 60%);
  --label-color: hsl(235, 25%, 82%);
  --gradient-color:linear-gradient(to right, #4b6cb7, #182848);
  --newplanborder: hsl(225, 7%, 22%);
  --newplanBoxShadow: 0px 2px 4px -2px rgba(255, 255, 255, 0.06),
  0px 4px 8px -2px rgba(255, 255, 255, 0.1);
  --tr-even:hsl(240, 20%, 19%);
  --paginator-background:hsl(236, 22%, 59%);

}
.light-theme {
  --background: hsl(0, 0%, 98%);
  --slidebackground: hsl(235, 21%, 11%);
  --button-color: hsl(259, 100%, 61%);
  --text-color: hsl(240, 2%, 8%);
  --link-color: hsl(209, 83%, 50%);
  --label-color: hsl(218, 24%, 27%);
  --gradient-color: linear-gradient(
    116deg,
    #b7a5ff 0.48%,
    #9872e9 39.01%,
    #a9a2f8 72.01%,
    #f7d7ff 96.79%
  );
  --newplanborder: hsl(220, 17%, 93%);
  --newplanBoxShadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06),
    0px 4px 8px -2px rgba(16, 24, 40, 0.1);
    --tr-even:hsl(240, 23%, 95%);
    --paginator-background:hsl(240, 23%, 95%);
}

html, body { height: 100%; }
body { margin: 0; font-family: "M Regular", "Helvetica Neue", sans-serif; 
  ::placeholder{
    font-size: 12px;
    text-transform: capitalize;
  }
}

