/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "M Regular";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "M Bold";
  src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "M SemiBold";
  src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "M Light";
  src: url("./assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "M Medium";
  src: url("./assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
body {
  box-sizing: border-box;
  margin: 0;
  overflow-y: hidden;
  p,h1,h2,h3,h4,h5,h6{
    color: var(--text-color);
  }
  * {
    margin: 0;
    padding: 0;
    font-family: "M Regular";
  }
}
.dark-theme {
  --background: hsl(235, 21%, 11%);
  --button-color: hsl(259, 100%, 61%);
  --text-color: hsl(0, 0%, 100%);
  --link-color: hsl(228, 60%, 60%);
  --label-color: hsl(235, 25%, 82%);
  --gradient-color:linear-gradient(to right, #4b6cb7, #182848);;
}
.light-theme {
  --background: hsl(0, 0%, 98%);
  --button-color: hsl(259, 100%, 61%);
  --text-color: hsl(240, 2%, 8%);
  --link-color: hsl(209, 83%, 50%);
  --label-color: hsl(218, 24%, 27%);
  --gradient-color: linear-gradient(
    116deg,
    #b7a5ff 0.48%,
    #9872e9 39.01%,
    #a9a2f8 72.01%,
    #f7d7ff 96.79%
  )
}
