<main class="planner">
  <button (click)="exportAsPDF()" class="exportpdf">
    Export <img src="assets/svgs/gg_export.svg" alt="" />
  </button>
  <section class="planner__Box">
    <div class="planner__Box__table" >
      <table #contentToExport>
        <tr>
          <th>Date</th>
          <th>Activity</th>
          <th>Leaders</th>
          <th>Synopsis</th>
        </tr>

        <tr *ngFor="let item of paginatorService.paginate(); let i = index">
          <td>{{ item.date | date }}</td>
          <td>{{ item.activity }}</td>
          <td>
            <ul>
              <li *ngFor="let leader of item.leaders">{{ leader }}</li>
            </ul>
          </td>
          <td>
            {{ item.synopsis }}
          </td>
        </tr>
      </table>
      <app-paginator></app-paginator>
    </div>

    <div class="plannaer__Box__activity">
      <app-activities (plannerForm)="receivePlanner($event)"></app-activities>
    </div>
  </section>
</main>
